



#search-button {
    margin-top: 10px;
    padding-left: 120px;
    padding-right: 120px;
    width: 100%;
    background-color: rgb(71, 152, 243);
    color: white;
}

#search-input {
    width: 100%;
    border-radius: 5px;
}

.input-group-append {
    width: 100%;
}

#today {
    border: solid 1px black;
    float: right; /* Add this property to move it to the right */
}





#forecast {
    border: solid 1px black;
}










.weather-header {
    background: linear-gradient(to right, #111df6, #0a0e6e);
}
    


.weather-hr {
  margin-top: 0;
  margin-bottom: 0;
}

